.swatch {
  display: inline-block;
  flex: none;
  width: 0.5rem;
  height: 0.5rem;
  border-radius: 50%;
  background: var(--sector-colour);
}

.s1 {
  --sector-colour: var(--sector-1);
}

.s2 {
  --sector-colour: var(--sector-2);
}

.s3 {
  --sector-colour: var(--sector-3);
}
